.kubevirt-data-resiliency__utilization-bar {
  text-align: left;
  margin-bottom: 3em !important;
  height: 11px;
}

.kubevirt-data-resiliency__title {
  margin-bottom: 4em;
}
  
.kubevirt-data-resiliency__dashboard-body {
  text-align: center;
  padding: 0.7em;
}
  
.kubevirt-data-resiliency__icon--ok {
  font-size: 1.333em;
  color: yellowgreen;
  line-height: 1.333em;
}

